form.form(name='form', ng-submit='submit(form)', novalidate)
	.modal-header
		button.close(type='button', data-dismiss='modal', ng-click='$dismiss()') &times;
		h3.modal-title {{ title }}

	.modal-body
		div(ng-show="user.role==='doctor'")
			table.table.table-striped
				thead
					tr
						th
						th Nazwisko
						th Imię
						th Specjalność
				tbody
					tr(ng-repeat='(key, value) in selectedDoctors')
						td
							input(type='checkbox', ng-model='value.checked')
						td {{ value.related.lastName }}
						td {{ value.related.firstName }}
						td {{ value.related.speciality | speciality }}
						td {{ value.checked }}
		div(ng-show="user.role==='user'")
			table.table.table-striped
				thead
					tr
						th
						th Nazwisko
						th Imię
						th Pesel
						th Adres
				tbody
					tr(ng-repeat='(key, value) in selectedPatients')
						td
							input(type='checkbox', ng-model='value.checked')
						td {{ value.related.lastName }}
						td {{ value.related.firstName }}
						td {{ value.related.pesel }}
						td {{ value.related.address | address }}
						td {{ value.checked }}

	.modal-footer
		button.btn.btn-primary(type='submit') Zapisz
