div
	button.btn.btn-primary.pull-right(ng-click='openAddPatientModal()') Dodaj pacjenta
	form.form.pull-right.search-form(ng-submit='search()')
		input.form-control(type='text', placeholder='Szukaj', 'ng-model'='searchTerm')
		button(type='submit', hidden='true')
	h2 Pacjenci

table.table.table-striped
	thead
		tr
			th Nazwisko
			th Imię
			th Pesel
			th Adres
			th

	tbody
		tr(ng-repeat='patient in patients', ng-controller='PatientCtrl')
			td {{ patient.lastName }}
			td {{ patient.firstName }}
			td {{ patient.pesel }}
			td {{ patient.address | address }}
			td
				span.glyphicon.glyphicon-pencil(ng-click='openEditPatientModal()')
