div
	button.btn.btn-primary.pull-right(ng-click='openAddPatientModal()') Dodaj pacjenta
	h2 Pacjenci

table.table.table-striped
	thead
		tr
			th Nazwisko
			th Imię
			th Pesel
			th Adres
			th ID

	tbody
		tr(ng-repeat='patient in patients', ng-controller='PatientCtrl')
			td {{ patient.lastName }}
			td {{ patient.firstName }}
			td {{ patient.pesel }}
			td {{ patient.address | address }}
			td {{ patient._id}}
			td
				span.glyphicon.glyphicon-pencil(ng-click='openEditPatientModal()')
