.login
	.page-header
		h1 Podaj hasło

	form.form(name='form', ng-submit='activate(form)', novalidate='novalidate')

		.form-group.has-error
			p.help-block {{ error }}

		.form-group(ng-class='{ "has-error": submitted && form.password.$invalid }')
			input.form-control(placeholder='Hasło' type='password', name='password', ng-model='password' required,
			focus-when='true')
			p.help-block(ng-show='submitted && form.password.$error.required') Pole hasło jest wymagane.

		.form-group(ng-class='{ "has-error": submitted && form.repeatPassword.$invalid }')
			input.form-control(placeholder='Powtórz hasło' type='password', name='repeatPassword', ng-model='repeatPassword' required)
			p.help-block(ng-show='submitted && form.repeatPassword.$error.required') Podane hasła się nie zgadzają.

		button.btn.btn-lg.btn-primary.btn-block(type='submit') Zapisz