div
	button.btn.btn-primary.pull-right(ng-click='openAddUserModal()') Dodaj użytkownika
	h2 Użytkownicy
table.table.table-striped
	thead
		tr
			th Nazwa
			th E-mail
			th Numer telefonu
			th Rola
			th Status
	tbody
		tr(ng-repeat='user in users', ng-controller='UserCtrl')
			td {{ user.name }}
			td {{ user.email }}
			td {{ user.phoneNumber }}
			td {{ user.role | role }}
			td {{ user.active ? 'aktywny' : 'zablokowany' }}
			td {{ user._id }}
			td
				span.glyphicon.glyphicon-pencil(ng-click='openEditUserModal()')
			td(ng-switch='user.active')
				span.glyphicon.glyphicon-ban-circle(ng-click='openBlockUserModal()', ng-switch-when='true')
				span.glyphicon.glyphicon-check(ng-click='openUnblockUserModal()', ng-switch-when='false')
			td
				span.glyphicon.glyphicon-user(ng-click='openRelated()',
					ng-show='user.role === "doctor" || user.role === "user"')
