form.form(name='form', ng-submit='submit(form)', novalidate)
    .modal-header
        button.close(type='button', data-dismiss='modal', ng-click='$dismiss()') &times;
        h3.modal-title {{ title }}

    .modal-body
        .form-group.has-error
            p.help-block {{ error }}

        .form-group(ng-class='{ "has-error": submitted && form.name.$invalid }')
            input.form-control(type='text', placeholder='Nazwa', name='name', ng-model='user.name', required,
                focus-when='true')
            p.help-block(ng-show='submitted && form.name.$error.required') Pole nazwa jest wymagane.

        .form-group(ng-class='{ "has-error": submitted && form.email.$invalid }')
            input.form-control(type='text', placeholder='E-mail', name='email', ng-model='user.email', required,
                mongooseError='')
            p.help-block(ng-show='submitted && form.email.$error.required') Pole e-mail jest wymagane.

        .form-group(ng-class='{ "has-error": submitted && form.role.$invalid }')
            select.form-control(type='select', name='roleSelect', ng-model='user.role')
                option(ng-repeat='role in roles', value='{{ role }}') {{ role | role }}

    .modal-footer
        button.btn.btn-primary(type='submit') Zapisz