div
    button.btn.btn-primary.pull-right(ng-click='openAddUserModal()') Dodaj użytkownika
    h2 Użytkownicy
table.table.table-striped
    thead
        tr
            th Nazwa
            th E-mail
            th Rola
            th Status
    tbody
        tr(ng-repeat='user in users', ng-controller='UserCtrl')
            td {{ user.name }}
            td {{ user.email }}
            td {{ user.role === 'administrator' ? 'administrator' : 'użytkownik'}}
            td {{ user.active ? 'aktywny' : 'zablokowany' }}
            td
                span.glyphicon.glyphicon-pencil(ng-click='openEditUserModal()')
            td
                span.glyphicon.glyphicon-ban-circle(ng-click='openBlockUserModal()', ng-show='user.active')
            td
                span.glyphicon.glyphicon-check(ng-click='openUnblockUserModal()', ng-show='!user.active')
